$normal_font: 0.45rem;
$color-font: white;
$red: #FE0000;
$green: #99FE00;
$blue: #01CCFC;
$background-gray: #0c4068;
$title-font: 0.45rem;
$other_font: 0.45rem;
$normal_weight: 500;
$other_title_font: 0.45rem;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5px; /* Ajusta para criar espaço interno */
  box-sizing: border-box; /* Garante que padding e bordas sejam incluídos nas dimensões totais */
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

.legends {
  grid-area: 4 / 1 / 5 / 12;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  p {
    text-wrap: nowrap;
    //padding: 0px 10px;
    font-size: 1rem;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;

    &::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      background-color: currentColor; // Usa a cor do texto como cor de fundo do quadrado
    }
  }

  p:nth-child(1)::before {
    background-color: $blue; // Cor para "Analise"
  }

  p:nth-child(2)::before {
    // background-color: $red; // Cor para "Ajuda"
    background: linear-gradient(to right, $blue 50%, white 50%);
  }
  p:nth-child(3)::before {
    background-color: $red; // Cor para "Ajuda"
  }
}
