.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  // gap: 10px;
}

app-inversor1 {
}
//   border-right: 1px solid #ccc;
//   border-bottom: 1px solid #ccc;

//   &:nth-child(3n) {
//     border-right: none;
//   }

//   &:nth-child(n+4) {
//     border-bottom: none;
//   }
// }
